同时答辩的时候将自己组的作品打包成可运行程序和源代码两份。除了要演示项目作品以外，同时可能需要查看源代码。请知悉！

9月19日下午（第三周周四下午）开展比赛。
主持人宣布XX组上来答辩，整个组成员全部上场，1.组员自我介绍，然后由一个发言人
2.讲解本组参赛的课题和作品，
简单介绍之后，下一个环节3.演示作品功能，
演示完毕之后由现场老师对团队作品4.进行现场提问和点评，
最后小组5.做总结，